<div class="message mb-2" data-message-user-id="<%= message.user.id %>">
  <div class="d-inline-block p-2 rounded" style="max-width: 70%;">
    <small class="d-block">
      <%= message.user.email %>
    </small>
    <%= message.content %>
  </div>
</div>